<div class="nested-fields padding-top-10">
  <div class="row">
    <%= f.association :client, as: :hidden %>

    <div class="col-xs-4">
      <%= f.association :master_activity, input_html: { class: "master_activity" } %>
    </div>

    <div class="col-xs-4">
      <%= f.association :user %>
    </div>

    <div class="col-xs-4">
      <%= link_to_remove_association t('views.clients.remove_activity'),
          f, class: "btn btn-default btn-xs margin-top-25" %>
    </div>

  </div>
  </br>
</div>
