<%= render "layouts/breadcrumb", title: t('views.clients.edit'), breadcrumb_key: :client %>

<div class="row">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>
